@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap')



*
  margin: 0
  padding: 0
  box-sizing: border-box

  .home
    text-align: left
    background-color: black
    padding: 10px

    a
      text-decoration: none
      color: beige
      display: flex
      align-items: center

      img
        width: 50px
        height: auto
        margin-right: 20px

      .back-to-olga-container
        align-items: center

        .back
          font-family: "Poiret One", cursive
          font-size: 20px


        .olga
          font-family: "Megrim", cursive
          font-size: 26px
