@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap')
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Geo&display=swap')


$purple: #490051
$cyan: #1DD5C7
$pink: #f95f85
$magenta: #fa257d
$orange: #FF9A3C

*
  margin: 0
  padding: 0
  box-sizing: border-box

::-webkit-scrollbar
  width: 5px


::-webkit-scrollbar-track
  background-color: $purple

::-webkit-scrollbar-thumb
  background-image: linear-gradient(0deg, $cyan, $purple)


::-webkit-scrollbar-thumb:hover
  background-image: linear-gradient(0deg, $cyan, $purple)



//  Styling the BACK TO OLGA button in the top-left corner of the page

html
  min-height: 100%

body
  .home-container
    display: flex
    justify-content: flex-start
    .home
      background-color: black
      padding: 10px
      text-align: center
      animation: 1s homeAppear


      a
        text-decoration: none
        color: beige
        display: flex
        align-items: center


        .logo
          width: 30px
          height: auto

    .arrow-to-olga-container
      display: block
      margin: 14px 10px 12px 5px

      .arrow-to-olga
        width: 20px
        height: 20px
        transform: rotate(90deg)


    //      .olga
            font-family: "Megrim", cursive
            font-size: 19px

//  .arrow-to-olga-container
    display: none
    .arrow-to-olga

// Animations


@keyframes homeAppear
  0%
    opacity: 0
    margin-left: -300px
  100%
    opacity: 1
    margin-left: 0px


@keyframes h1Appear
  0%
    opacity: 0
    margin-left: -1000px
  100%
    opacity: 1
    margin-left: 0px

@keyframes h2Appear
  0%
    opacity: 0
    margin-right: -1000px
  100%
    opacity: 1
    margin-right: 0px



@keyframes arrowMove
  0%
    opacity: 0
    z-index: -9999
  15%
    opacity: 0
    z-index: -9999
  30%
    opacity: 0
    z-index: -9999
  45%
    opacity: 1
    z-index: 9999
  60%
    opacity: 0
    z-index: -9999
  75%
    opacity: 0
    z-index: -9999
  85%
    opacity: 1
    z-index: 9999
  95%
    opacity: 0
    z-index: -9999

  100%
    opacity: 1
    z-index: 9999


@keyframes imageAppear
  0%
    opacity: 0
    height: 0px
  80%
    opacity: 0
    height: 0px
  100%
    opacity: 1
    height: 150px


@keyframes h3Appear
  0%
    opacity: 0
    margin-left: -50px
  80%
    opacity: 0
    margin-left: -50px
  100%
    opacity: 1
    margin-left: 0px


@keyframes counterAppear
  0%
    opacity: 0
    margin-bottom: -100px
    overflow: hidden

  50%
    opacity: 0
    margin-bottom: -100px
    overflow: hidden

  100%
    opacity: 1
    margin-bottom: 0px
    overflow: hidden



//  Making the website responsive


@media screen and (max-width: 800px)
  h1
    font-size: 40px !important
    margin-top: 30px !important

  h2
    font-size: 20px !important

  .image-title
    font-size: 20px !important

  .direction
    padding: 5px 10px !important
    margin: 5px !important
    font-size: 30px !important

  .number
    margin-left: 20px !important
    font-size: 40px !important

  .grade
    margin-right: 13px !important
    font-size: 40px !important



@media screen and (max-width: 430px)
  h1
   font-size: 8vw !important

  h2
    font-size: 5vw !important

  .image-title
    font-size: 7vw !important

  .direction
    padding: 5px 10px !important
    margin: 5px 1px 7px 1px !important
    font-size: 6vw !important

  .number
    margin-left: 9px !important
    font-size: 9vw !important

  .grade
    margin-right: 6px !important
    font-size: 9vw !important


@media screen and (orientation: landscape) and (max-height: 500px)

  body

    .home
      padding: 10px
      width: 50px !important

      a

        .logo
          width: 25px

        .back-to-olga-container

          .back
            display: none


          .olga
            display: none

    .arrow-to-olga-container
      display: block
      margin: 14px 10px 12px 5px

      .arrow-to-olga
        width: 20px
        height: 20px
        transform: rotate(90deg)

    h1
      margin-top: 0px !important
      font-size: 7vw !important

    h2
      font-size: 4vw !important


    .drink
      position: static !important
      transform: translateX(0%) !important
      height: 100px !important

    .arrow
      width: 20px !important

    .image-title
      font-size: 4vw !important
      position: static !important
      transform: translateX(0%) !important

    .counter
      position: static !important
      margin-top: 15px

      .direction

      .number

      .grade
